@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  display: inline-block;
  border-radius: 10px;
  margin-top: 40px;
  padding: 15px;
  border: 1px solid black;
  position: relative;
  width: 35%;
}
#downSuit {
  display: flex;
  float: right;
  font-size: 120px;
  transform: rotateX(180deg);
}
#upSuit {
  display: flex;
  float: left;
  font-size: 120px;
}
#number {
  font-size: 150px;
  align-content: center;
  justify-content: center;
  margin-right: 60px;
  margin-top: 120px;
}
